{% extends 'base.html.twig' %}

{% block title %}Se connecter à ATP EPS{% endblock %}


{% block body %}
{% include "home/_navbar.html.twig" %}
<form method="post" class="col-10 col-sm-8 col-md-6 m-auto bg-light mt-4 p-4 rounded">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-4" autocomplete="email" required autofocus>
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control mb-4" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-primary m-4" type="submit">
        Se connecter
    </button>
</form>
{% endblock %}
