{% extends 'base.html.twig' %}

{% block title %}Se connecter à ATP EPS{% endblock %}


{% block body %}
{% include "home/_navbar.html.twig" %}
<nav class='ariane m-2 sourceCode slide-in-right' aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none link" href="/">Accueil</a></li>
        <li class="breadcrumb-item active text-light" aria-current="page">Se connecter</li>
    </ol>
</nav>
<form method="post" class="col-10 col-sm-8 col-md-6 m-auto bg-light mt-4 p-4 rounded">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-4" autocomplete="email" required autofocus>
    <label for="inputPassword" class="form-label">Mot de passe</label>
    <div class="input-group">
    <input type="password" name="password" id="inputPassword" class="form-control mb-4" autocomplete="current-password" required>
        <span role="button" class="input-group-text" onclick="togglePassword()">
            <i class="bi bi-eye" id="eye"></i>
            <i class="bi bi-eye-slash d-none" id="eye-slash"></i>
        </span>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="d-flex flex-column">
    <button class="btn btn-primary mb-2 w-50" type="submit">
        Se connecter
    </button>
    <a href="{{path('app_forgot_password_request')}}">Mot de passe oublié</a>
    <a href="{{path('app_register')}}">Pas encore inscrit ?</a>
    </div>
</form>
<script>
// eyes at the end of password input fields
    function togglePassword(){
    const passwordInput = document.querySelector("#inputPassword")
    passwordInput.type = passwordInput.type === "text" ? "password" : "text"
    const eyeIcon = document.querySelector("#eye")
    eyeIcon.classList.contains("d-none") ? eyeIcon.classList.remove("d-none") : eyeIcon.classList.add("d-none")
    const eyeSlashIcon = document.querySelector("#eye-slash")
    eyeSlashIcon.classList.contains("d-none") ? eyeSlashIcon.classList.remove("d-none") : eyeSlashIcon.classList.add("d-none")
  }
</script>
{% endblock %}
