<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-config='{"interval":4000,"pause":"hover"}'>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{asset('styles/images/CaptureTournoi.png')}}" class="d-block w-100" alt="capture tournoi">
    </div>
    <div class="carousel-item">
      <img src="{{asset('styles/images/CaptureMatch.png')}}" class="d-block w-100" alt="capture match">
    </div>
    <div class="carousel-item">
      <img src="{{asset('styles/images/CaptureGroupe.png')}}" class="d-block w-100" alt="capture groupe">
    </div>
    <div class="carousel-item">
      <img src="{{asset('styles/images/CaptureVueGroupe.png')}}" class="d-block w-100" alt="capture vue groupe">
    </div>
    <div class="carousel-item">
      <img src="{{asset('styles/images/CaptureSuccess.png')}}" class="d-block w-100" alt="capture succés enregistrement match">
    </div>
    <div class="carousel-item">
      <img src="{{asset('styles/images/CaptureOptions.png')}}" class="d-block w-100" alt="capture options">
    </div>
  </div>
</div>