<nav class="navbar navbar-expand-lg bg-primary p-0" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('app_home')}}">ATP EPS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
         {% if app.user %}
        <li class="nav-item mx-2">
          <a class="nav-link" href="{{path('app_dashboard')}}">Tableau de bord</a>
        </li>
        {% endif %}
        <li class="nav-item mx-2">
          <a class="nav-link" href="{{path('app_doc')}}">Documentation</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="{{path('app_contact')}}">Contact</a>
        </li>
        </ul>
        <ul class="navbar-nav me-4">
        <li class="nav-item dropstart">
          <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><h3 data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Connexion"><i class="bi bi-person-fill"></i></h3></a>
          <div class="dropdown-menu mt-1">
          {% if app.user %}
            <a class="dropdown-item" href="{{path('app_logout')}}">Se déconnecter</a>
          {% else %}
            <a class="dropdown-item" href="{{path('app_login')}}">Se connecter</a>
            <a class="dropdown-item" href="{{path('app_register')}}">S'inscrire</a>
          {% endif %}  
          </div>
        </li>
      </ul
    </div>
  </div>
</nav>