{% extends 'base.html.twig' %}

{% block title %}Tournois{% endblock %}

{% block body %}
{% include "home/_navbar.html.twig" %}

<h1 class="text-light mx-4 mt-4">Tournoi du groupe {{groupe}}</h1>
<h3 class="text-light ms-4">{{"now"|date("d/m/Y")}}</h3>
    <div>
        <table class="table table-hover  m-4 col-11 col-md-6">
            <thead>
                <tr>
                    <th class="py-1 px-4">Classement</th>
                    <th class="py-1 px-4">Nom</th>
                    <th class="py-1 px-4">Point de classement</th>
                    <th class="py-1 px-4">Nombre de match</th>
                </tr>
            </thead>
            <tbody>
                {% for student in tournament %}
                <tr>
                    <td class="py-1 px-4">{{student.classement}}</td>
                    <td class="py-1 px-4">{{ student.player }}</td>
                    <td class="py-1 px-4"> 12 </td>
                    <td class="py-1 px-4">{{student.nbreMatch}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
