{% extends 'base.html.twig' %}

{% block title %}Tournois{% endblock %}

{% block body %}
{% include "home/_navbar.html.twig" %}
{% include "tournament/_modalUpdateTournament.html.twig" %}
{% include "tournament/_modalResetTournament.html.twig" %}
{% include "tournament/_modalCancelLastMatch.html.twig" %}
{% include "csv/_modalCsvPdf.html.twig" %}
 {% include "_flash.html.twig" %}

<div class="d-flex flex-row">
<div>
    <h3 class="text-light mx-4 mt-4" id="titre">{{title}}</h3>
    <p class="ms-4 text-light mb-2"><i>{{date|date("d/m/Y")}}</i></p>
</div>
<div class="my-auto ms-4">
    <span><a class="btn btn-danger btn-sm me-4 my-1" data-bs-toggle="modal" data-bs-target="#resetTournament" title="Remettre les scores à 0" role="button">Réinitialiser le tournoi</a></span>
    <span><a class="btn btn-warning btn-sm my-1 me-4" data-bs-toggle="modal" data-bs-target="#updateTournament" title="Modifier" role="button">Modifier une ligne</a></span>
    <span><a class="btn btn-primary btn-sm my-1 me-4"  role="button" data-bs-toggle="modal" data-bs-target="#csvPdfModal" title="Modifier">Partager</a></span>
</div>
</div>
    <div class="d-flex flex-column-reverse flex-xl-row justify-content-start align-items-start">
        <table class="table table-bordered mt-4 mx-2 col-11 col-md-6">
            <thead>
                <tr>
                    <th class="py-1 px-4">Classement</th>
                    <th class="py-1 px-4">Nom</th>
                    <th class="py-1 px-4">Points de classement</th>
                    <th class="py-1 px-4">Nombre de matchs</th>
                    <th class="py-1 px-4">Arbitrage</th>
                    <th class="py-1 px-4">Goalaverage</th>
                </tr>
            </thead>
            <tbody>
                {% set tableau = {} %}
                {% for student in tournament %}
                <tr>
                    <td class="py-1 px-4 tdNumber">{{student.classement}}</td>
                    <td class="py-1 px-4">{{ student.player }}</td>
                    <td class="py-1 px-4 tdNumber">{{student.points}}</td>
                    <td class="py-1 px-4 tdNumber">{{student.nbreMatch}}</td>
                    <td class="py-1 px-4 tdNumber">{{student.arbitre}} </td>
                    <td class="py-1 px-4 tdNumber">{{student.goalaverage}}</td>
                </tr>
                {% set tableau = tableau|merge({ 
                    'player' :student.player,
                    'points' :student.points,
                    'nbreMatch' :student.nbreMatch,
                    'arbitre' :student.arbitre,
                    'goalaverage' :student.goalaverage                
                    }) %}
                    
                {% endfor %}
            </tbody>
        </table>
        <div class="m-4 d-flex flex-column">
            <h3 class="text-center text-light">Match</h3>

            <form action="{{path('app_tournament_match')}}" method="post" class="bg-light rounded p-2 d-flex flex-column">
                <div class="d-flex flex-row justify-content-around p-4 border-bottom">
                <div>
                    <select class="py-2 px-4 form-select" name="gagnant" id="gagnant">
                        {% for student in tournament %}
                            <option value="{{student.player}}">{{student.player}}</option>
                        {% endfor %}
                    </select>
                </div>
                <h3 class="mx-4">Bat</h3>
                <div>
                    <select class="py-2 px-4 form-select" name="perdant" id="perdant">
                        {% for student in tournament %}
                            <option value="{{student.player}}">{{student.player}}</option>
                        {% endfor %}
                    </select>
                </div>
                </div>
                <h6 class="text-center mt-2">Score</h6>
                <div class="d-flex flex-row justify-content-around pb-2 border-bottom">
                    <div class="text-center">
                        <input type="number" class="w-25 border rounded fs-3" name="score_gagnant" id="score_gagnant" value="0">
                    </div>
                    <div class="text-center">
                        <input type="number" class="w-25 border rounded fs-3" name="score_perdant" id="score_perdant" value="0">
                    </div>
                </div>
                <div class="w-50 m-auto">
                    <h6 class="text-center mt-2">Arbitre</h6>
                    <select class="py-2 px-4 form-select mb-2" name="arbitre" id="arbitre">
                            <option value="aucun">Aucun arbitre</option>
                        {% for student in tournament %}
                            <option value="{{student.player}}">{{student.player}}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="title" value="{{title}}">
                    <input type="hidden" name="date" value="{{date|date("d/m/Y")}}">
                </div>
                <button class="btn btn-success align-self-center mt-3" type="submit">Valider le match</button>
                <a class="btn btn-danger align-self-center mt-3" data-bs-toggle="modal" data-bs-target="#cancelLastMatch" title="Remettre les scores à 0" role="button">Annuler le dernier match</a>
            </form>
        </div>  
    </div>
{% endblock %}
