<div class="container">
<h2 style="text-align:center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">{{title}}</h2>
<h4 style="text-align:center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><i>{{date|date('d/m/Y')}}</i></h4>
<table style="border: 1px solid black;border-collapse:collapse;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
            <thead style="border: 1px solid black;border-collapse:collapse;">
                <tr style="border: 1px solid black;border-collapse:collapse;">
                    <th style="border: 1px solid black;
                                border-collapse:collapse;
                                text-align: center;
                                padding-bottom:15px;
                                padding-top:15px;
                                padding-inline:5px;
                                ">Classement</th>
                    <th style="border: 1px solid black;
                                border-collapse:collapse;
                                text-align: center;
                                padding-bottom:15px;
                                padding-top:15px;
                                padding-inline:5px;">Nom</th>
                    <th style="border: 1px solid black;
                                border-collapse:collapse;
                                text-align: center;
                                padding-bottom:15px;
                                padding-top:15px;
                                padding-inline:5px;">Points de classement</th>
                    <th style="border: 1px solid black;
                                border-collapse:collapse;
                                text-align: center;
                                padding-bottom:15px;
                                padding-top:15px;
                                padding-inline:5px;">Nombre de matchs</th>
                    <th style="border: 1px solid black;
                                border-collapse:collapse;
                                text-align: center;
                                padding-bottom:15px;
                                padding-top:15px;
                                padding-inline:5px;">Arbitrage</th>
                    <th style="border: 1px solid black;
                                border-collapse:collapse;
                                text-align: center;
                                padding-bottom:15px;
                                padding-top:15px;
                                padding-inline:5px;">Goalaverage</th>
                </tr>
            </thead>
            <tbody style="border: 1px solid black;border-collapse:collapse;">
                {% for student in tournaments %}
                <tr style="border: 1px solid black;border-collapse:collapse;">
                    <td style="border: 1px solid black;
                                border-collapse:collapse;
                                text-align: center;
                                padding-bottom:15px;
                                padding-top:15px;
                                padding-inline:5px;">{{student.classement}}</td>
                    <td style="border: 1px solid black;
                                border-collapse:collapse;
                                text-align: center;
                                padding-bottom:15px;
                                padding-top:15px;
                                padding-inline:5px;">{{ student.player }}</td>
                    <td style="border: 1px solid black;
                                border-collapse:collapse;
                                text-align: center;
                                padding-bottom:15px;
                                padding-top:15px;
                                padding-inline:5px;">{{student.points}}</td>
                    <td style="border: 1px solid black;
                                border-collapse:collapse;
                                text-align: center;
                                padding-bottom:15px;
                                padding-top:15px;
                                padding-inline:5px;">{{student.nbreMatch}}</td>
                    <td style="border: 1px solid black;
                                border-collapse:collapse;
                                text-align: center;
                                padding-bottom:15px;
                                padding-top:15px;
                                padding-inline:5px;">{{student.arbitre}} </td>
                    <td style="border: 1px solid black;
                                border-collapse:collapse;
                                text-align: center;
                                padding-bottom:15px;
                                padding-top:15px;
                                padding-inline:5px;">{{student.goalaverage}}</td>
                </tr>                    
                {% endfor %}
            </tbody>
        </table>
</div>
