<nav class="navbar navbar-expand-lg bg-light py-0">
  <div class="container-fluid">
    <button class="navbar-toggler my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item menuItem">
          <a role="button" class="btn btn-dark m-1 py-1 px-4" data-bs-toggle="modal" data-bs-target="#modalTournament" title="Démarrer un tournoi">Démarrer un nouveau tournoi</a>
        </li>
        <li class="nav-item menuItem">
          <a class="nav-link py-2 px-4 ms-4" href="{{path('app_groupe')}}">Mes groupes</a>
        </li>
        <li class="nav-item menuItem">
          <a class="nav-link py-2 px-4 ms-4" href="{{path('app_dashboard')}}">Mes tournois</a>
        </li>
        <li class="nav-item menuItem">
          <a class="nav-link py-2 px-4 ms-4" href="{{path('app_options')}}">Options</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="modalTournament" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Démarrer un tournoi</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <p>Avec quel groupe souhaitez-vous démarrer un tournoi ?</p>
       <form action="{{path('app_tournament')}}", method="post">
          <select name="groupe" class="form-select" aria-label="Default select example">
            {% for groupe in groupes.getGroupes(app.user) %}
              <option value="{{groupe}}">{{groupe}}</option>
            {% endfor %}
          </select>
          <label for="title" class="form-label mt-4">Titre du tournoi (Lettres, chiffres, espace ou -)</label>
          <input type="text" id="title" name='title' class="form-control" pattern="[a-zA-Z 0-9-]*" required>
          <label for="points" class="form-label mt-4">Points de chaque participant au début du tournoi (0 par défaut)</label>
          <input type="number" id="points" name='points' class="form-control" value=0>
          <button type="button" class="btn btn-secondary m-4" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary m-4">Démarrer</button>
        </form>
      </div>
    </div>
  </div>
</div>